.hero {
    background: #fff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #3b50eb,
      #2ecbf7
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #3b50eb,
      #2ecbf7
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.card-content .card {
    list-style: none;
}

